.layout-main-container{
  position:fixed;
  flex-direction: column;
  justify-content: space-between;
  padding-left:17rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 3rem;
}
