<div class="container collection" style="padding-left: 6rem;">
  <div class="row mt-5">
    <h1>Welcome to our note collection feature!</h1>
    <h3>With our application, you can effortlessly group multiple notes into collections</h3>
  </div>
  <div class="row mt-5"><h5>Create a new collection</h5></div>
    <div class="row">
      <div class="col-md-6">
        <input pInputText type="text" class="form-control" placeholder="Enter the collection title" [(ngModel)]="collectionTitle" />
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" type="submit" (click)="addCollection()">Create</button>
      </div>
    </div>
  <div class="row mt-5"><h5>Your collections</h5></div>
  <div class="row">
    <div *ngIf="userCollections.length > 0" class="collection list">
      <div *ngFor="let collection of userCollections" class="collection item">
        <div class="row mt-3 align-items-center collection">
          <div class="col-md-5 align-items-center">
            <button class="btn btn-primary" [disabled]="!users.value.selectedFriends" (click)="shareCollection(collection._id)">Share</button>
            <form [formGroup]="users">
              <p-multiSelect [options]="userFriends" formControlName="selectedFriends" display="chip" optionLabel="username" placeholder="Share with friends"></p-multiSelect>
            </form>
          </div>
          <div class="col-md-5 align-items-center">
            <div class="collection title">{{ collection.title }}</div>
          </div>
          <div class="col-md-2 align-items-center">
            <div class="collection  actions">
              <button class="btn btn-primary" (click)="viewCollection(collection._id)">View</button>
              <button class="btn btn-danger" (click)="deleteCollection(collection._id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userCollections.length == 0">
      <p>No collections found, create a new collection to start organizing your notes</p>
    </div>
</div>
<p-toast></p-toast>
