<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4 mt-4">
      <h2>Add a note</h2>
    </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-4 offset-md-4">
          <p-inputGroup>
              <p-inputGroupAddon>
                  <i class="pi pi-pencil"></i>
              </p-inputGroupAddon>
              <input pInputText placeholder="Title" class="p-inputtext"/>
          </p-inputGroup>
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-4 offset-md-4">
          <p-inputGroup>
              <p-inputGroupAddon>
                  <i class="pi pi-plus"></i>
              </p-inputGroupAddon>
              <input pInputText placeholder="Description" class="p-inputtext"/>
          </p-inputGroup>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 offset-md-4">
      <p-calendar [showIcon]="true"></p-calendar>
    </div>
</div>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <p-button label="Add" (onClick)="addNote()"></p-button>
    </div>
</div>
</div>
