<div class="container mt-5 justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <h2>Send a request</h2>
    <p>Send a friend request to a user.</p>
    <form [formGroup]="users">
      <p-multiSelect [options]="friends" formControlName="selectedUsers" display="chip" optionLabel="username" placeholder="Send request friends"></p-multiSelect>
    </form>
    <button class="btn btn-primary mt-3 mb-4" (click)="sendRequest()">Add Friend</button>
    </div>
    <div class="col-md-6">
      <h2>Pending friend requests</h2>
      <p *ngIf="pendingRequests.length > 0">You can accept or decline the request.</p>
      <p *ngIf="pendingRequests.length == 0">In this moment you don't have pending requests</p>
    </div>
  </div>
  <div class="row mt-5">
    <h3>Your friends list</h3>
    <div *ngIf="showFriends" class="row">
      <div class="col-6">
          <p-listbox
              [options]="userFriends"
              optionLabel="value"
              [(ngModel)]="selectedFriends"
              [selectAll]="false"
              [style]="{ width: '35rem' }"
              [virtualScroll]="true"
              [filter]="true"
              [virtualScrollItemSize]="20"
              [multiple]="true"
              [checkbox]="true"
              [showToggleAll]="false"
              [listStyle]="{ 'max-height': '220px' }"
          ></p-listbox>
      </div>
      <div class="col-6">
        <button class="btn btn-danger mt-3" (click)="removeFriend()" [disabled]="!selectedFriends || selectedFriends.length === 0" >Remove Friend</button>
      </div>
    </div>
    <div *ngIf="!showFriends">
      <p>No friends found, send a request to the users to find a friend</p>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast />
