<div class="container mt-5 justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <h2>Send a request</h2>
    <p>Send a friend request to a user.</p>
    <form [formGroup]="users">
      <p-multiSelect [options]="friends" formControlName="selectedUsers" display="chip" optionLabel="username" placeholder="Send request friends"></p-multiSelect>
    </form>
    <button class="btn btn-primary mt-3 mb-4" (click)="sendRequest()">Add Friend</button>
    </div>
    <div class="col-md-6">
      <h2>Pending friend requests</h2>
      <div *ngIf="pendingRequests.length > 0">
        <p>You have {{pendingRequests.length}} pending requests.</p>
        <p>You can accept or decline the request.</p>
        <div *ngFor="let request of pendingRequests">
          <div class="row">
            <div class="col-2">
              <li>{{request}}</li>
            </div>
            <div class="col-1">
              <button class="btn btn-success" (click)="acceptRequest(request)">
                <i class="bi bi-check"></i>
              </button>
            </div>
            <div class="col-1">
              <button class="btn btn-danger" (click)="rejectRequest(request)">
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
    <p *ngIf="pendingRequests.length == 0">In this moment you don't have pending requests</p>
  </div>
  <div class="row mt-5">
    <h3>Your friends list</h3>
    <div *ngIf="userFriends.length > 0" class="row">
      <div class="col-6">
          <p-listbox
              [options]="userFriends"
              optionLabel="value"
              [(ngModel)]="selectedFriends"
              [selectAll]="false"
              [style]="{ width: '35rem' }"
              [virtualScroll]="true"
              [filter]="true"
              [virtualScrollItemSize]="20"
              [multiple]="true"
              [checkbox]="true"
              [showToggleAll]="false"
              [listStyle]="{ 'height': '13rem' }"
          ></p-listbox>
      </div>
      <div class="col-6">
        <button class="btn btn-danger mt-3" (click)="removeFriend()" [disabled]="!selectedFriends || selectedFriends.length === 0" >Remove Friend</button>
      </div>
    </div>
    <div *ngIf="userFriends.length == 0">
      <p>No friends found, send requests or accept a request to have your first friend</p>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<p-toast />
