<div class="container mt-5 justify-content-center">
  <h2>Add a Friend</h2>
  <p>Add a user as a friend so you can share notes together.</p>
  <form [formGroup]="users">
    <p-multiSelect [options]="friends" formControlName="selectedUsers" display="chip" optionLabel="username" placeholder="Send request friends"></p-multiSelect>
  </form>
  <button class="btn btn-primary mt-3" (click)="addFriend()">Add Friend</button>
  <div class="row mt-5">
    <h3>Your friends list</h3>
    <p>This section is for viewing your list of friends and deleting them if you wish.</p>
      <p-listbox
          [options]="userFriends"
          [(ngModel)]="selectedFriends"
          [selectAll]="false"
          optionLabel="label"
          [style]="{ width: '15rem' }"
          [virtualScroll]="true"
          [filter]="true"
          [virtualScrollItemSize]="43"
          [multiple]="true"
          [checkbox]="true"
          [showToggleAll]="false"
          [metaKeySelection]="false"
          [showToggleAll]="true"
          [listStyle]="{ 'max-height': '220px' }"
      ></p-listbox>

  </div>
</div>

