<div class="container">
  <h2 class="text-center mt-4" style="margin-top: 5rem;">Welcome to your personal note repository! Here, you can effortlessly access and organize all your notes and ideas</h2>
  <div class="note-list-container">
    <div *ngIf="notes.length > 0" class="note-list">
      <div *ngFor="let note of notes" class="note-item">
        <div class="note-row">

          <div class="note-title">{{ note.title }}</div>
          <div class="note-actions">
            <button class="btn-edit" (click)="editNoteById(note.idNote)">
              <i class="bi bi-eye-fill"></i>
            </button>
            <button class="btn-edit" (click)="deleteNoteById(note.idNote)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="notes.length == 0">
      <p>No notes found, create a new note to start your repository</p>
    </div>
  </div>
</div>

