.note-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding-top: 5rem;
}

.note-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.note-list {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.note-item {
  margin-bottom: 10px;
  border: 2px solid blue;
  border-radius: 5px;
}

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.note-actions {
  display: flex;
}
.user-note{
  padding: 1.5rem;
  margin-bottom: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: #def7fc;
  &:hover {
    background-color: #c9f0f4;
    transform: scale(1.01);
  }
}
.container{
  width: 90%;

}

.btn-edit{
  border-radius: 1px solid rgb(57, 15, 175);
}
.btn-delete {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-edit i,
.btn-delete i {
  font-size: 1.5rem;
}

.btn-edit i:hover,
.btn-delete i:hover {
  color: blue;
}
