<div class="container-fluid sidebar">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-6 col-xl-6 px-sm-2 px-0 sidebar">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100" style="cursor: pointer;">
            <div class="dropdown pb-4 mt-4">
              <a class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fs-4 bi-person-circle"></i>
                  <span class="d-none d-sm-inline mx-1">{{username}}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                  <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
                  <li><a class="dropdown-item" (click)="deleteAccount()">Delete account</a></li>
              </ul>
          </div>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="/home" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="/addNote" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-plus-square"></i> <span class="ms-1 d-none d-sm-inline">New Note</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="/userNotes" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-list-task"></i> <span class="ms-1 d-none d-sm-inline">My Notes</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="/collection" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-collection"></i> <span class="ms-1 d-none d-sm-inline">Collections</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="/addFriend" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-collection"></i> <span class="ms-1 d-none d-sm-inline">Friends</span></a>
                  </li>
              </ul>
              <hr>

          </div>
      </div>
  </div>
</div>

